<a href="https://colab.research.google.com/github/PolamVarsha2001/Assignment-2/blob/master/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=int(input('Enter 1st side of triangle : '))
b=int(input('Enter 2nd side of triangle : '))
c=int(input('Enter 3rd side of triangle : '))
s=(a+b+c)/2
a=(s*(s-a)*(s-b)*(s-c))**(1/2)
print("Area of Triangle : ",a)

Enter 1st side of triangle : 5
Enter 2nd side of triangle : 7
Enter 3rd side of triangle : 9
Area of Triangle :  17.41228014936585

In [ ]:
a=input('Enter any String : ')
b=""
for i in a:
  b=i+b
if a==b:
  print("Given String is Palindrome")
else: 
  print("Given String is not a Palindrome")

Enter any String : nani
Given String is not a Palindrome

In [ ]:
a=int(input('Enter any year : '))
if a%4==0:
  print("Leap Year")
else:
  print("Not a Leap Year")

Enter any year : 2020
Leap Year

In [ ]:
a=input('Enter any String : ')
b=""
for i in a:
  if i==" ":
    i="-"
    b=b+i
  else:
    b=b+i
print(b)

Enter any String : This program converts spaces to hyphen
This-program-converts-spaces-to-hyphen

In [ ]:
items = input("Input comma separated sequence of words : ")
words = [word for word in items.split(",")]
print(",".join(sorted(list(set(words)))))

Input comma separated sequence of words : orange,white,red,cyan,green,magenta,cyan,pink,white
cyan,green,magenta,orange,pink,red,white

In [ ]:
a=int(input('Enter your monthly Salary : '))
if a<=200000:
  print("No need to pay Tax")
elif a<=500000:
  print("Tax to be paid is : ",0.05*a)
elif a<=750000:
  print("Tax to be paid is : ",0.1*a)
elif a<=1000000:
  print("Tax to be paid is : ",0.15*a)
elif a<=1250000:
  print("Tax to be paid is : ",0.2*a)
elif a<=1500000:
  print("Tax to be paid is : ",0.25*a)
else:
  print("Tax to be paid is : ",0.3*a)

Enter your monthly Salary : 1150000
Tax to be paid is :  230000.0

In [ ]:
def convert(list):
  x=int("".join(map(str, list)))
  return x
l=[11,33,50]
convert(l)

113350

In [ ]:
days = int(input("Enter number of days: ")) * 3600 * 24
hours = int(input("Enter number of  hours: ")) * 3600
minutes = int(input("Enter minutes: ")) * 60
seconds = int(input("Enter seconds: "))
time = days + hours + minutes + seconds
print("The  amounts of seconds", time)

Enter number of days: 2
Enter number of  hours: 12
Enter minutes: 50
Enter seconds: 12
The  amounts of seconds 219012

In [ ]:
def sort(a,b,c):
  get_max=max(a,max(b,c))
  get_min=min(a,min(b,c))
  get_mid=(a+b+c)-(get_max+get_min)
  print("Sorted Order is : ",get_min," ",get_mid," ",get_max)
a=int(input("Enter 3 numbers : "))
b=int(input())
c=int(input())
sort(a,b,c)

Enter 3 numbers : 20
10
30
Sorted Order is :  10   20   30

In [ ]:
year=int(input('Enter Year : '))
if (year % 400 == 0):
    leap_year = True
elif (year % 100 == 0):
    leap_year = False
elif (year % 4 == 0):
    leap_year = True
else:
    leap_year = False
month=int(input('Enter month (1-12) : '))
if month in (1, 3, 5, 7, 8, 10, 12):
    month_length = 31
elif month == 2:
    if leap_year:
        month_length = 29
    else:
        month_length = 28
else:
    month_length = 30
day=int(input('Enter day (1-31) : '))
if day < month_length:
    day += 1
else:
    day = 1
    if month == 12:
        month = 1
        year += 1
    else:
        month += 1
print("The next date is : %d-%d-%d." % (year, month, day))

Enter Year : 2020
Enter month (1-12) : 8
Enter day (1-31) : 31
The next date is : 2020-9-1.

In [ ]:
list=[45,3,2,89,72,1,10,7]
x=1
for i in list:
  x=x*i
print("Product of values in List : ",x)

Product of values in List :  121111200

In [ ]:
Num_list=[5,6,8,34,89,1]
Out_list=[]
for i in range(len(Num_list)-1):
  sum=Num_list[i]+Num_list[i+1]
  Out_list.insert(len(Out_list),sum)
print(Out_list)

[11, 14, 42, 123, 90]

In [ ]:
Num_tuple=(5,6,8,3,9,1)
Out_list=[]
product=1
for i in range(len(Num_tuple)):
  product=product*Num_tuple[i]
  Out_list.insert(len(Out_list),product)
print(Out_list)

[5, 30, 240, 720, 6480, 6480]

In [ ]:
n=input('Enter any Number to convert into list : ')
list=[]
for i in n:
  list.insert(len(list),int(i))
print(list)

Enter any Number to convert into list : 23421
[2, 3, 4, 2, 1]

In [6]:
st=input("Enter a string : ")
s=[]
l=1
ct=0
rs=""
for i in range(0,len(st),1):
  for j in range(i+1,len(st)):
    if st[i:j] == st[j:i:-1]:
      if len(st[i:j])>l:
        l=len(st[i:j])
        rs=st[i:j+1]
        ct=1           
if ct==1:
  print(rs)
else:
  print(-1)

Enter a string : 10111011001
1011101

In [ ]:
a=input('Enter any binary String : ')
b=input('Enter another binary String : ')
if b in a:
  print("1")
else:
  print("0")

Enter any binary String : 101011011011
Enter another binary String : 010110
1

In [4]:
def gcd(a,b):
    if b==0: 
        return a 
    return gcd(b,a%b) 
def countsteps(a,b,c): 
    v1=b
    v2=0
    count=1
    while ((v1 is not c) and (v2 is not c)): 
        temp=min(v1,a-v2) 
        v2=v2+temp 
        v1=v1-temp 
        count=count+1
        if ((v2==c)or(v1==c)): 
            break
        if v1==0: 
            v1=b 
            count=count+1
        if v2==a: 
            v2=0
            count=count+1
    return count 
def ispossible(a,b,c): 
    if a>b: 
        temp=a 
        a=b 
        b=temp 
    if c>b: 
        return -1
    if (c%(gcd(b,a)) is not 0): 
        return -1
    return(min(countsteps(b,a,c),countsteps(a,b,c)))
t=int(input("Enter no of testcases : "))
for i in range(t):
  a=int(input("Enter capacity of vessel a : "))
  b=int(input("Enter capacity of vessel b : "))
  c=int(input("Enter capacity to be obtained :"))
  print("------------------Minimum number of steps required is----------------- : ",ispossible(a,b,c))

Enter no of testcases : 2
Enter capacity of vessel a : 5
Enter capacity of vessel b : 2
Enter capacity to be obtained :3
------------------Minimum number of steps required is----------------- :  2
Enter capacity of vessel a : 2
Enter capacity of vessel b : 3
Enter capacity to be obtained :4
------------------Minimum number of steps required is----------------- :  -1